@font-face {
    font-family: 'KGLastTime'; 
    src: url('../font/KG.ttf') format('truetype'); 
}
/*@font-face {
    font-family: 'SourceCode-Regular'; 
    src: url('../font/source-code-pro/SourceCodePro-Regular.otf') format('truetype'); 
}
@font-face {
	    font-family: 'SourceCode-Black'; 
	    src: url('../font/source-code-pro/SourceCodePro-Black.otf') format('truetype'); 
	}*/
/*----------------------------- 
		Global Style
-------------------------------*/
body p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #515151;
	margin: 0;
	line-height: 175%;


}
body h2 {
	font-family: 'KGLastTime', sans-serif;
	font-size: 32px;
	letter-spacing: 0.1em;	
	color:#7CB274;
}

body h3, h4 {
	font-family: 'KGLastTime', sans-serif;
	letter-spacing: 0.05em;
	color:#7CB274;
}

#mySkills .container {
	height: 500px;
}

#mySkills h3 {
	font-size: 26px;
}

.Col1 {
	text-align: right;
}

.Col2 {
	text-align: left;
}
#mySkills .text {
	margin-top: 10%;
}
#mySkills .pic {
	margin-top: 30px;
}
/*----------------------------- 
		NAVIGATION
-------------------------------*/

.navbar {
	background:none repeat scroll 0 0 rgba(255,255,255,0.9); 
	border: none;
}
.navbar .nav > li > a {
	font-weight: bold;
	font-size:14px; text-transform:uppercase; 
	letter-spacing:0.14em; 
	text-align:center;
	color: #000;
	border:3px solid transparent; 
	margin: 20px 0.5em;
}
.navbar-toggle { margin: 30px 0;}
.navbar .nav > li > a:hover {
	border-color: #ddd;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus  {
  border:3px solid transparent;
  border-color: #000;
  background-color: transparent;

}
/*------------- MAKE THE LOGO STAY INLINE------------------- */

@media (min-width:768px) { 
	header {
		height: 80px;
	}
 .navbar > .container {
    text-align: center;
 }
.navbar-header {
    float: center;
    display: inline-block;
 }
 .navbar-brand {
    float: none;
    display: inline-block;

 }
 .navbar .navbar-nav {
    float: none;
    display: inline-block;
    clear: none;
    margin-top: -20px;

 }
 .navbar .navbar-nav > li {
    float: none;
    display: inline-block;
 }
}
@media (max-width: 979px)  {
	header {
 		height: 140px;
 	}
}
@media (max-width: 768px){
 	header {
 		height: 70px;
 	}
 }
/* ------------- END INLINE LOGO ------------- */

/*---------------------------------
			Introduction
--------------------------------- */

#intro .container .row{
	padding: 0 0;
}

#introduction {
	background: url(../svg/backG1.png);
	background-color: #E5FCC2;
	height: 80px;
	
}
#introduction2 {
	background: url(../svg/backG1.png);
	background-color: #E5FCC2;
	height: 80px;
	
}

#introduction h2 {
	color: #FFFFFF;
	text-align: center;
	padding-top: 40px;
}
/*---------------------------------
			Carousel
--------------------------------- */
/*.carousel {
	margin-top: 200px;
}*/

#carousel-aboutMe .item { height: 430px; }
.carousel-inner {
	text-align: center;
}

#slide1, #slide2, #slide3, #slide4 {
	background: url(../svg/backG1.png);
}
/*.carousel-indicators li {
	background-color: #424242;
}
.carousel-indicators .active {
	background-color: #000;
}*/
.carousel-caption {
	text-shadow: none;
	padding-top: 20px;
	top: 0;
	bottom: auto;
}
.carousel-caption strong {
	color: #7CB274;

}
.carousel-caption h4 {
	color: #7CB274;
	letter-spacing: 0.15em;
	font-size: 18px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: 2em;
  }
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: 2em;
  }
/*-----get rid of carousel gradient ---*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
    @include reset-filter();
}

/*---------------------------------
			BODY- content
--------------------------------- */
#intro {
	background-color: transparent;
	height: 500px;

}
#intro h2 {
	text-align: center;
	padding-top: 30px;
}


/*---------------------------------
			BODY - graphics
--------------------------------- */
#graphics {
	background: url(../svg/backG1.png);	
}



/*---------------------------------
			BODY - navigation
--------------------------------- */
#navigation {
	background-color: transparent;
}
/*---------------------------------
			BODY-responsive
--------------------------------- */
#responsive {
	background: url(../svg/backG1.png);
}

/*---------------------------------
			GALLERY WORKS
--------------------------------- */
#myWorks {
	
	height: 400px;
	padding: 100px auto;
	text-align: center;
}
#myWorks h4 {
	padding-top: 50px;
}

/*---------------------------------
			CONTACT - FOOTER
--------------------------------- */

#contact {
	background: url(../svg/backG1.png);
	background-color: #E5FCC2;
	height: 500px;
	text-align: center;
	padding-top: 50px;
}
.btn-default {
	background: #FFFFFF;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	 -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.btn-default:hover{
	background-color: #1BBC9B;
	border: 3px solid #FFFFFF;	
}
footer {
	background-color: #594F4F;
	text-align: left;
	height: 45px;
	width: 100%;
}
footer .container {
	height: 45px;
	display: table;
	padding: 0;
}
footer p {
	font-size: 13px;
	color: #DBDBD9;
	display: table-cell;
	vertical-align: middle;
};
 
 
 




